
json5==0.12.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
matplotlib==3.10.9
matplotlib-inline==0.2.1
numpy==2.4.6
openai==2.30.0
pandas==3.0.3
pandocfilters==1.5.1
requests==2.34.2
streamlit==1.58.0
toml==0.10.2
tabulate==0.10.0
plotly
